<h1>About this app</h1>
<p>This project is based on the Codemy.com Ruby on Rails tutorial. The tutorial is available on 
	<a href="https://www.youtube.com/watch?v=fmyvWz5TUWg"> freeCodeCamp.org's Youtube channel
	</a>. It's a great tutorial for starting to work with Ruby on Rails.
</p>
<!--<p>
	<%= @about_me %>
</p>
<p>
	<% @answer = 3 + 3 %>
	<%= @answer %>
</p>-->