<h1>Hello Friends!</h1>
<p>Keep track of your friends with Friends App so that friendship never ends!</p>
<p>List your friends' contact details, edit them and add new friends!</p>
<p>Friends are the new black!</p>
